{% extends 'base.html.twig' %}

{% block body %}
    <div class="count">
        Nombre total de points : {{ pagination.getTotalItemCount }}
    </div>
    <table class="table">
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Vitesse', 'speed') }}</th>
            <th>Outils</th>
        </tr>

        {# table body #}
        {% for point in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ point.id }}</td>
                <td>{{ point.speed }}</td>
                <td><a href="{{ path('delete', {id: point.id}) }}">Supprimer</a> </td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
    {{ knp_pagination_render(pagination) }}
    </div>
    <a class="btn btn-primary" href="{{ path('analyse') }}">Retour a l'analyse</a>

{% endblock %}

{% block title %}

{% endblock %}

