{% extends 'base.html.twig' %}

{% block head %}
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light1", // "light1", "light2", "dark1", "dark2"
                animationEnabled: true,
                zoomEnabled: true,
                title: {
                    text: "Vitesse"
                },
                data: [{
                    type: "area",
                    dataPoints: {{ track.display }}
                }]
            });
            chart.render();

        }
    </script>
{% endblock %}

{% block body %}
    <ul>
        <li> Temps d'execution : {{ time }}ms</li>
        <li> Vitesse max : {{ track.maxSpeed|round(2) }} knt/s</li>
        <li> Vitesse max 2s : {{ track.maxSpeed2s|round(2) }} knt/s</li>
        <li> Vitesse max 10s : {{ track.maxSpeed10s|round(2) }} knt/s</li>
        <li> Distance totale : {{ (track.totalDistance/1000)|round(3) }} Km</li>
        <li> Durée : {{ track.totalTime.h }}h {{ track.totalTime.i }}min {{ track.totalTime.s }}s</li>
    </ul>


    <div id="chartContainer" style="height: 370px; width: 100%;"></div>

    <a class="btn btn-primary" href="{{ path('liste') }}">Liste des points</a>
{% endblock %}

{% block title %}
    Résultat de l'analyse
{% endblock %}

