{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block title %}
    Accueil
{% endblock %}

{% block javascripts %}
    <script>
        document.querySelector("input").onchange = function (input) {
            document.querySelector(".custom-file-label").innerHTML = input.target.files[0].name;
        }
    </script>
{% endblock %}
